doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    br
    div(style="display: flex;flex-direction:column;align-items:center")
      h1
        a(href="/" style= "color: black; text-decoration: none;") 내 기프티콘 어디갔어?!
      block content
  script(src="/js/bootstrap.min.js")
